body{
  background-color: #2a1515;
}
.container {
    text-align: center;
    margin-top: 50px;
  }
  
  h1 {
    color: azure;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin-bottom: 20px;
    justify-content: center;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    background: #8e8989;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    cursor: pointer;
  }
  
  .status {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .restart-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #000000;
    color: rgb(251, 6, 6);
    border: none;
    border-radius: 5px;
  }
    
  .restart-btn:hover {
    background-color: #0cf918;
  }
